// GENERAL
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.separ {
  width: 150px;
  height: 3px;
  border: none;
  background: #f24452;
  margin: 25px auto;
}

.separ-white {
  width: 150px;
  height: 3px;
  border: none;
  background: whitesmoke;
  margin: 25px auto;
}

#skills,
.row {
  padding: 50px 0;
}

// GENERAL END

// HEADER
header {
  background: rgba(0, 0, 0, 0);
  height: 0;

  nav {
    z-index: 1;

    img {
      width: 130px;
      height: auto;
    }
  }

  .navbar-brand {
    color: whitesmoke;
    font-family: "Montserrat Alternates", sans-serif;

    font-size: 2em;
  }

  a {
    color: whitesmoke;
    font-size: 1.2em;
  }
}

// HEADER END

// ABOUT
#about {
  background: #392359;
  padding: 100px;
  color: whitesmoke;

  h2 {
    color: whitesmoke;
  }

  img {
    margin-top: 80px;
  }

  .profile-picture {
    display: flex;
  }

  .heading {
    text-align: center;
  }

  .btn {
    margin: 50px 0 0 0;
  }
}

// ABOUT END

// SKILLS
#skills {
  background: whitesmoke;
  padding-top: 100px;

  h2 {
    margin-bottom: 50px;
  }

  .row {
    padding: 20px;
  }

  .progress {
    margin-bottom: 30px;
    height: 35px;
    box-shadow: 2px 2px 5px grey;

    .progress-bar {
      padding: 0;
      margin: 0;
      background-color: #f24452;
    }

    h5 {
      text-shadow: 0 2px 2px black;
    }
  }
}

// SKILLS END

// EXPERIENCES
#experiences {
  background: #392359;
  height: auto;
  padding: 50px 0;
  color: white;
  padding-top: 100px;


  p {
    font-size: 20px;
    color: black;
  }

  .row {
    margin: auto -30px;
  }

  .card {
    // margin-bottom: 20px;
    padding: 20px 20px;

    img {
      border-radius: 0;
    }

    &:hover {
      transition: background 1500ms;
      background: #4285f4;
      color: whitesmoke;

      img {
        transition: border-radius 500ms;
        border-radius: 50%;
        transform: scaleX(1.05);
        border: 2px solid rgba(255, 255, 255, 0.575);
      }

      h5 {
        color: white;
      }
    }

    h5 {
      font-size: 20px;
      color: black;
    }
  }
}